<div class="addcnt" >
	<form name="contactForm" class="conctactformstyle">
	<label> Name:</label>
	<input type="text" data-ng-model="form.name" required ><br><br>
	<label> Address1:</label>
	<input type="text" data-ng-model="form.address1" required><br><br>
	<label> Address2:</label>
	<input type="text" data-ng-model="form.address2" required><br><br>
	<label> City:</label>
	<input type="text" data-ng-model="form.city" required><br><br>
	<label> Mobile:</label>
	<input type="text" data-ng-model="form.mobile"required>
	<br><br>
	<button data-ng-click="save()" class="savebutton"> Save</button>
	<button data-ng-click="cancel()" class="cancelbutton"> Cancel</button>
	</form>
</div>